l*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

.michroma-regular {
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  position:relative;
  background:
      radial-gradient(circle at top right,
            rgba(0,255,255,.15),
            transparent 60%),
      radial-gradient(circle at bottom left,
            rgba(0,255,150,.10),
            transparent 50%),
      linear-gradient(#0b1020,#111827),
      repeating-linear-gradient(
          to bottom,
          rgba(0,255,170,.025) 0px,
          rgba(0,255,170,.025) 1px,
          transparent 1px,
          transparent 2px);
    background-size:
        cover,
        cover,
        cover;
    background-position: 
        center,
        center,
        center;
    background-repeat:
        no-repeat,
        no-repeat,
        no-repeat;
    background-attachment: fixed;
    background-blend-mode: soft-light;
    min-height: 100vh;
    z-index: 0;
}

body::before{
    content: "";
    position: fixed;
    inset: 0;
    background: url(Imagenes/6e8657411ff91726cb3e81d44eeb488d.jpg);
    opacity: 0.05;
    pointer-events: none;
    z-index: -2;
    animation: noiseMove .8s steps(2) infinite;
    background-size: cover;
}

body::after{
    content:"";
    position:fixed;
    inset:0;
    background:url("Imagenes/2454628.png")
               right center / cover no-repeat;
    opacity:.05;
    mix-blend-mode:multiply;
    pointer-events:none;
    z-index:-3;
    animation: pulse 16s linear infinite alternate;
    scale: 110%;
    pointer-events: none;
}

@keyframes scan{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(4px);
    }
}

@keyframes noiseMove{
    0%{
        transform: translate(0,0);
    }
    25%{
        transform: translate(-1px,1px);
    }
    50%{
        transform: translate(1px,-1px);
    }
    75%{
        transform: translate(-1px,-1px);
    }
    100%{
        transform: translate(0,0);
    }
}

@keyframes pulse{
    0%{
        opacity:.01;
    }
    50%{
        opacity:0.5;
    }
    100%{
        opacity:.20;
    }
     from{
        transform:translateX(0);
    }

    to{
        transform:translateX(-50px);
    }
}

h1 {
  font-size: 5rem;
  font-family: "Michroma", Helvetica;
  color: #ffffff;
  text-shadow:
    0 0 5px #00e5ffb2,
    0 0 15px #00e5ffb3,
    0 0 30px #00e5ff75;
  animation: neon 5s infinite alternate;
  animation: grow 0.5s immediate;
}

@keyframes neon {
  from {
    text-shadow:
      0 0 5px #00e5ff,
      0 0 15px #00e5ff,
      0 0 30px #00e5ff;
  }

  to {
    text-shadow:
      0 0 15px #00ff88,
      0 0 30px #00ff88,
      0 0 60px #00ff88;
  }
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  text-align: justify;
  text-justify: inter-word;
}

p {
  text-wrap: balance;
  text-align: justify;
  hyphens: auto;
  color: white;
  font-family: "Y2K Brutalism Typeface", Helvetica;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

h2 {
  text-align: center;
  color: white;
  font-family: "Michroma", Helvetica;
  padding: 0px 0px 15px 0px;
}

input {
  text-wrap: balance;
  max-width: 75%;
}

:root {
  --background-color: #20638c;
  --card-background: rgba(3, 230, 255, 0.19);
  --card-background-solid: rgb(56, 149, 160);
  --hover-color: #00e5ff;
  --red-critical: #ff0000;
  --yellow-medium: #ffae00;
  --green-low: #42b500;
}


#__next {
  isolation: isolate;
}
#sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 350px;
  height: 100vh;
  background-color: var(--card-background);
  transition: 
        transform 0.5s ease,
        box-shadow .3s ease,
        border-color .3s ease;
  padding: 10px 0 0 0;
  box-shadow: 0px 10px 5px 1px #00ff2221;
  border:1px solid rgb(0, 0, 0,.30);
  box-shadow: 0 10px 35px rgba(0,0,0,.35);
}

#menu-btn {
  display: flex;
  flex-direction: right;
  position: absolute;
  right: 1.8%;
  background: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
}

#menu-btn > svg {
  width: 25px;
  height: 25px;
  color: white;
  transition: transform 0.5s ease;
}

#sidebar.hidden svg {
  color: #1eff0e;
  transform: rotate(180deg);
}

.hidden {
  transform: translateX(-85%);
}
.hovered{
   transform: scale(1.5%);
}

h1.mainTitle {
  font-family: "Michroma", Helvetica;
  text-align: center;
  margin-top: 50px;
  font-size: 5rem;
  transition: font-size 0.3s ease;
}

.mainTitle:hover {
  font-size: 5.5rem;
  text-shadow:
    0 0 8px #00e5ff,
    0 0 20px #00e5ff,
    0 0 35px #00e5ff;
}

p.pageDesc {
  text-align: justify;
  margin: 20px auto;
  max-width: 600px;
  color: #ffffff;
  font-size: 0.8rem;
  width: 100%;
}

ul#indice {
  padding-top: 30px;
  list-style: none;
}

li {
  list-style: none;
  margin: 10px 0;
  font-family: "Y2K Brutalism Typeface", Helvetica;
  font-size: 1.2rem;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}

a:hover {
  color: var(--hover-color);
}

a:active {
  color: #00bcd4;
}

#news-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  font-family: "Y2K Brutalism Typeface", Helvetica;
}

article h3 {
  font-family: "Michroma", Helvetica;
  color: #ffffff;
  font-size: 1.2rem;
}

article p {
  text-align: justify;
  color: white;
  font-family: "Y2K Brutalism Typeface", Helvetica;
  max-width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  -webkit-line-clamp: 3; /* Número máximo de líneas que quieres mostrar */
  overflow: hidden;
  max-height: 3rem; /* Ajusta según la altura de línea y el número de líneas */
  line-height: 1.5em; /* Ajusta según la altura de línea */
}

article a {
  color: #00ff44cb;
  text-decoration: none;
  font-family: "Michroma", Helvetica;
  padding: 5px 0px 20px 0px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 700px;
  max-height: 220px;
  transition:
    max-width 0.3s ease,
    max-height 0.3s ease,
    font-size 0.3s ease,
    background-color 0.3s ease;
  background-color: var(--card-background);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 20px;
  margin: 10px 0;
  max-width: 700px;
  color: white;
  border:1px solid rgb(0, 0, 0,.30);
  box-shadow: 0 10px 35px rgba(0,0,0,.35);
  position:relative;
  overflow:hidden;
  z-index: 1;
}

.card::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:1px;
    background:
        linear-gradient(
            90deg,
            transparent,
            rgba(255,255,255,.1),
            transparent
        );
}

.card:hover {
  max-height: 500px;
  font-size: 1.05rem;
  max-width: 750px;
  box-shadow: 50px 10px 5000px 3px var(--background-color,.8);
  background-color: var(--background-color);
}

span.category.critical {
  align-self: flex-end;
  background-color: var(--red-critical);
  color: #ffffff;
  padding: 10px 10px;
  border-radius: 5px;
  font-family: "Y2K Brutalism Typeface", Helvetica;
  font-size: 0.8rem;
  font-style: bold;
  box-shadow: 0px 0px 20px 1px var(--red-critical);
}

span.category.medium {
  align-self: flex-end;
  background-color: var(--yellow-medium);
  color: #ffffff;
  padding: 10px 10px;
  border-radius: 5px;
  font-family: "Y2K Brutalism Typeface", Helvetica;
  font-size: 0.8rem;
  font-style: bold;
  right: 3%;
  box-shadow: 0px 0px 20px 1px var(--yellow-medium);
}

span.category.low {
  align-self: flex-end;
  background-color: var(--green-low);
  color: #ffffff;
  padding: 10px 10px;
  border-radius: 5px;
  font-family: "Y2K Brutalism Typeface", Helvetica;
  font-size: 0.8rem;
  font-style: bold;
  right: 3%;
  box-shadow: 0px 0px 20px 1px var(--green-low);
}

.ctitle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}

#particles{
    position: fixed;
    inset: 0;
    pointer-events: none;
    overflow: hidden;
    z-index: -1;
}
.particles{
    position: absolute;

    width: 4px;
    height: 4px;

    border-radius: 50%;

    background: radial-gradient(
        circle,
       #ffffff 0%,
       #00ff11 40%,
       rgb(21, 255, 0) 100%);

    opacity: 0;
    box-shadow: 
      0 0 6px #00f7ff,
      0 0 12px #00f7ff, 
      0 0 20px rgba(0,247,255,.5);
    animation: float 10s linear forwards;
}

@keyframes float{
    0%{
      opacity:0;
    }
    10%{
      opacity:1;
    }
    90%{
      opacity:1;
    }
    100%{
      opacity:0;
    }
}

.discFooter{
  font-size: .75rem;
  text-align: left;
  max-width: 320px;
  margin-top: auto;
  margin-left: auto;
  margin-bottom: 1rem;
}

#overlay{
  display: flex;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, .7);
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(8px);
  pointer-events: none;
  transition: opacity .3s ease, visibility .3s ease;
}

#overlay.visible{
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

/* .show{
  display: flex;
} */

#logDoc{
  width: 50%;
  height: 80%;
  padding: 30px;
  border-radius: 20px;
  background: var(--card-background-solid);
}

#logTitle{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  padding: 0px 10px;
}

#logTitle button{
  background-color: rgba(0,0,0,0);
  color: #fafafa;
  border: none; 
  font-size: 1.2rem;
  font-family: "Michroma";
  cursor: pointer;
}

#logTitle button:hover{
  color: var(--hover-color);
}

#logTitle h2{
  font-size: 2rem;

}
#logDoc li{
  color: #fafafa;
  font-size: 1rem;
  font-weight: bolder;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  transition: ease;
}

#logDoc li::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}